<!DOCTYPE html>
<html lang="en">
<head>
  <title>omnomnom</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"> 
  <script src="/javascripts/jquery.js"></script>
</head>
<body>
	<div class="yielded_content">
		
		<%== yield%>
	</div>
</body>
</html>