<form id="login" method="POST" action="/login">
	<h1>Sign In</h1>
	<input type="text" name="lgin_before" id="lgin_before">
	<input type="password" name="lgin_after" id="lgin_after">
	<button type="submit">submit</button>
</form>
